{% extends "layout.html" %}
{% block body %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{url_for('static', filename='img/home-bg.jpg')}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Admin Panel</h1>
          <span class="subheading">Manage admin settings and privileges</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mx-auto">
  <div>
    <h1>Basic Actions</h1>
    <a class="btn btn-primary" href="/edit/0">Add a new post</a>
    <a class="btn btn-primary" href="/logout">Logout</a>
  </div>
  <hr>
  <div>
    <h1>Upload a file</h1>
    <form action="/uploader" method="POST" enctype="multipart/form-data">
      <input type="file" id="myfile" name="file1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <hr>
  <h1>Edit Posts</h1>
  <table class="table table-hover">
    <thead class="table-secondary">
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">First</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>

      {% for post in posts %}
      <tr>
        <th scope="row">{{ post.post_id }}</th>
        <td>{{ post.title }}</td>
        <td>{{ post.date }}</td>
        <td><a href="/edit/{{post.post_id}}" class="btn btn-primary">Edit</a></td>
        <td><a href="/delete/{{post.post_id}}" class="btn btn-primary">Delete</a></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}