{% extends "layout.html" %}
{% block body %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{url_for('static', filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Manage admin settings and privileges</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container mx-auto">
    <div class="mb-3">
        <h1>Bacis Actions</h1>
        <a href="/dashboard"><button class="btn btn-primary">Dashboard Home</button></a>
        <a href="/logout"><button class="btn btn-primary">Logout</button></a>
    </div>
    <hr>
    <h1>Add / Edit Posts</h1>
    <form name="sentMessage" id="contactForm" action="/edit/{{post.post_id}}" method="post" novalidate>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" name="title" class="form-control" placeholder="Title" id="name" required
                    data-validation-required-message="Please enter your name." value="{{post.title}}">
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Tagline</label>
                <input type="text" name="tagline" class="form-control" placeholder="Tagline" id="email" required
                    data-validation-required-message="Please enter your email address." value="{{post.tagline}}">
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Slug</label>
                <input type="text" name="slug" class="form-control" placeholder="Slug" id="phone" required
                    data-validation-required-message="Please enter your phone number." value="{{post.slug}}">
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Content</label>
                <textarea rows="5" name="content" class="form-control" placeholder="Content" id="message" required
                    data-validation-required-message="Please enter a message.">{{post.content}}</textarea>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Image File</label>
                <input rows="5" name="img_file" class="form-control" placeholder="Image File" id="message"
                    data-validation-required-message="Please enter a message." value="{{post.img_file}}">
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <br>
        <div id="success"></div>
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
    </form>
</div>

{% endblock %}